@import "tailwindcss";

@theme {
  --color-gpsfdk-orange: #ff5722;
}

body {
  background-image: url(/src/assets/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#root{
  font-family: poppins, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}